<div class="container detailView">
  <div class="row">
    <div class="col-sm-1">
      <h3>Category</h3>
      <div class="scrollableNotification">     
        <% documentscategory.forEach(function(documentscategory){%>
          <p class="cat-p-tag" id="<%= documentscategory.catname %>"><%= documentscategory.catname %> <%= documentscategory.size %></p>
        <%})%>
      </div>
    </div>
    <div class="col-sm-1">
      <h3>Items</h3>
      <div id="load"></div>
    <div class="scrollableNotification">     
     <div id="items">
         <% documents.forEach(function(documents){%>
          <div class="row">
              <p class="itemname"><%= documents.name %></p>
              <input type="hidden" value="<%= documents.frame %>">
              <input type="hidden" value="<%= documents.datetime %>">
              <input type="hidden" value="<%= documents.category %>">
              <input type="hidden" value="<%= documents.name %>">
              <input type="hidden" value="<%= documents.link %>">
            </div>
        <%})%>
      </div>
    </div>
    </div>
    <div class="col-sm-8">
      <h3>TIMELINE</h3>
      <div id="load1"></div>        
      <div id="iframediv"></div>
      <p id="infodiv"></p>
      <div class="scrollableTimeLineView">
      <% documents.forEach(function(documents){%>
      <div class="mediasec">
        <div id="iframediv"><%- documents.frame %></div>
          <input type="hidden" value="<%= documents.frame %>">
          <input type="hidden" value="<%= documents.datetime %>">
          <input type="hidden" value="<%= documents.category %>">
          <div>
            <p>
              <span><b>Category:</b> <%= documents.category %></span>
              <span style="float: right;"><b>Date&Time:</b> <%= documents.datetime %></span>
            </p>
            <p><b>Media Name:</b> <%= documents.name %></p>
            <a href="<%= documents.link %>" target="_blank"><b>View in next Tab?</b></a>
          </div>
        </div>
        <hr>
        <%})%>
        </div>
    </div>
     <div class="col-sm-2">
      <h3>NOTIFICATION</h3>
      <div class="scrollableNotification">     
        <% documents.forEach(function(documents){%>
          <div class="row">
            <div class="col-sm-5">
              <img class="img-thumbnail" src="<%= documents.thumbnail %>" width="100" height="100">
            </div>
            <div class="col-sm-7">
              <p class="itemname"><%= documents.name %></p>
              <input type="hidden" value="<%= documents.frame %>">
              <input type="hidden" value="<%= documents.datetime %>">
              <input type="hidden" value="<%= documents.category %>">
              <input type="hidden" value="<%= documents.name %>">
              <input type="hidden" value="<%= documents.link %>">
            </div>
          </div>
        <%})%>
      </div>
    </div>
  </div>
</div>